# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/

# misc
.DS_Store
*.tsbuildinfo
.vscode/
.vercel/
.parcel-cache/
.eslintcache
